*{margin: 0;padding:0;}
ul,li{list-style: none;}
.example-list {
  margin: 50px auto;
  width: 80%;

  > ol > li {
    padding: 10px;
  }
}

.example {
  .iscroll-pull-down,
  .iscroll-pull-up {
    background-color: #40C0CB;
    border-bottom: 2px solid #00A8C6;
  }

  ul{
    li{
      height:40px;
      line-height: 40px;
      background: #f60;
      color:#ccc;
      margin-bottom:2px;
      cursor: pointer;
    }
  }
}

.example-paging {
  list-style: none;
  color: #2B879E;
  padding-left: 0;
  margin-top: 0;
  text-align: center;
  > li {
    padding: 30px;
    border-bottom: 1px solid #3EC9A7;
  }
}

